<div class="container" style="margin-top: 5px;">
    <div class="card">
      <div class="card-header bg-secondary text-white">
          {{titulo}}
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th><a class="btn btn-sm btn-success text-white" (click)="addCategory()">Agregar</a></th>
              <th>Codigo</th>
              <th>Nombre</th>
              <th class="text-center" colspan="2">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categorys | slice:startIndex:endIndex">
              <td></td>
              <td>{{category.categoryId}}</td>
              <td>{{category.name}}</td>
              <td class="text-right">
                <button class="btn btn-sm btn-primary" (click)="editCategory(category)">Editar</button>
              </td>
              <td class="text-left">
                <button class="btn btn-sm btn-danger" (click)="delCategory(category)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation" *ngIf="categorys">
            <ul class="pagination">
              <li *ngFor="let i of getArrayFromNumber(categorys.length); let in = index" class="page-item">
                <a class="page-link" (click)="updateIndex(in)">{{in+1}}</a>
              </li>
            </ul>
        </nav>
      </div>
    </div>
  </div>

